<!DOCTYPE html>
<html>
  <head>
    <title>Eventbright</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://use.fontawesome.com/599a91a432.js"></script>
    <script src='//widget.cloudinary.com/global/all.js'
      type='text/javascript'></script>
    <script>
      window.cloudinary_options = {
          cloud_name: '<%= ENV['CLOUD_NAME'] %>',
          upload_preset: '<%= ENV['UPLOAD_PRESET'] %>'
      }
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
